p { 

	font-family: 'Patrick Hand SC', cursive;
	text-align: center;

 }  


h4 {

	font-family: 'Patrick Hand SC', cursive;


}  


h3 { text-align:;
    font-family: 'Patrick Hand SC', cursive;

}




h1 { 

	font-family: 'Patrick Hand SC', cursive;
	text-align: center;

}


 body {    background-color:pink;


}